.p-skill {
  .content-section {
    margin-bottom: 5rem;
    .head {
      margin-bottom: 3rem;
      font-weight: bold;
    }
    .skill-wrap {
      display: flex;
      &-table {
        width: 40%;
      }
      &-description {
        flex: 1;
      }
    }
    .skill-table {
      width: 100%;
      th {
        width: 75%;
      }
    }
  }
}