.p-top {
  .button-wrap {
    padding-top: 2rem;
    text-align: center;
  }
  .skill {
    .skill-wrap {
      margin-bottom: 3rem;
    }
    .head {
      text-align: center;
      font-weight: bold;
    }
    .icon {
      text-align: center;
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}