.p-top {
  .content + .content {
    margin-top: 10rem;
  }
  .button-wrap {
    padding-top: 2rem;
    text-align: center;
  }
  .skill {
    .skill-wrap {
      @include desktop {
        display: flex;
        justify-content: space-between;
      }
    }
    .skill-item {
      margin-bottom: 3rem;
      @include desktop {
        width: 280px;
      }
    }
    .head {
      text-align: center;
    }
    .icon {
      text-align: center;
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
  .work-wrap {
    margin-bottom: 3rem;
  }
  .mainvisual {
    height: 30rem;
    margin-bottom: 5rem;
    background: url('../images/top.jpg') 50% no-repeat;
    background-size: cover;
    opacity: .3;
    @include desktop {
      height: 50rem;
    }
  }
}

