$container-width: 1000px;
$mobile-threshold: $container-width - 1px;

$primary-color: #333;
$sub-color: #eee;
$attention-color: #ff0000;

$base-font-size: 14px;
$line-height: 1.8;
$font-family: 'Hiragino Kaku Gothic ProN,Meiryo,sans-serif'；