$container-width: 960px;
$menu-desktop-width: $container-width + 190px;

$primary-color: #333;
$sub-color: #eee;
$attention-color: #ff0000;

$base-font-size: 1.4rem;
$line-height: 1.8;
$font-family: 'Hiragino Kaku Gothic ProN,Meiryo,sans-serif'；